<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Usuario</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/style.css') }}">
</head>
<body>
    <div class="contenedor">
        <h1>Editar Usuario</h1>
        <form method="POST">
        <input type="text" placeholder="Ingrese su nombre" name="nombre"required> 
        <input type="text" placeholder="Ingrese su correo" name="correo"required>
        <button><h2>Guarde</h2></button>
        </form>
       
    </div>
</body>
</html>